@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-white: #ffffff;
  --primary-gold: #cca848;
  --primary-gold2: #a7893b;
  --btn-color: #c09c3d;
  --primary-black: #0d0d0d;
  --text-color: #6d6d6d;
  --card-bg: #f6f5f1;
  --secondary-black: #161c1d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.navcontainer {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbox {
  color: var(--primary-gold);
  cursor: pointer;
  font-size: 25px;
}

#click,
.navbox .menu-btn i {
  display: none;
}

#click:checked~.navbar {
  left: 0;
}

.containerfluid {
  max-width: 1600px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col100 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col80 {
  max-width: 80%;
  flex: 0 0 80%;
  padding: 0 15px;
}

.col60 {
  max-width: 60%;
  flex: 0 0 60%;
  padding: 0 15px;
}

.col50 {
  max-width: 50%;
  flex: 0 0 50%;
  padding: 0 15px;
}

.col45 {
  max-width: 45%;
  flex: 0 0 45%;
  padding: 0 15px;
}

.col40 {
  max-width: 40%;
  flex: 0 0 40%;
  padding: 0 15px;
}

.col35 {
  max-width: 35%;
  flex: 0 0 35%;
  padding: 0 15px;
}

.col33 {
  max-width: 33.33%;
  flex: 0 0 33.33%;
  padding: 0 15px;
}

.col30 {
  max-width: 30%;
  flex: 0 0 30%;
  padding: 0 15px;
}

.col25 {
  max-width: 25%;
  flex: 0 0 25%;
  padding: 0 15px;
}

.col20 {
  max-width: 20%;
  flex: 0 0 20%;
  padding: 0 15px;
}

.navbar {
  display: flex;
}

header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 91px;
  padding: 25px 0;
  background-color: rgba(22, 28, 29, 0.53);
  border: 1px solid var(--text-color);
}

.navbox {
  justify-content: space-between;
  align-items: center;
  transition: 0.5s all;
  margin-top: -14px;
}

.navbar {
  position: relative;
  align-items: center;
}

.navbar li {
  padding: 0 16px;
}

.navbar li a {
  position: relative;
  color: #fff;
  text-transform: uppercase;
}

.navlinks {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
}

.navlinks li a {
  padding-right: 20px;
  color: var(--primary-white);
  align-items: center;
  justify-items: center;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

.navlinks li a:hover {
  color: var(--primary-gold);
}

.navbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: var(--primary-white);
  transition: transform 0.3s ease;
}

.banner-img {
  position: relative;
  width: 100%;
  background: url(photos/intro-video-bg\ 2.png) no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 567px;
  display: flex;
  align-items: center;
}

.banner-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  max-width: 50%;
  flex: 0 0 50%;
  padding: 0 15px;
  width: 1600px;
}

.banner-content {
  position: absolute;
}

.banner-content h1 {
  margin-top: -30px;
  color: var(--primary-white);
  font-size: 57px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

.banner-content p {
  font-size: 40px;
  margin-top: 5px;
  max-width: 670px;
  color: var(--primary-white);
  font-family: "Lora", serif;
}

.log-btn {
  display: inline-block;
}

.log-btn i {
  font-size: 32px;
  border-radius: 50%;
  color: var(--primary-gold);
}

.log-btn i:hover {
  color: var(--primary-white);
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: azure;
  transition: transform 0.3s ease;
}

.car-rental-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.card {
  background: white;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 50px;
  max-width: 1106px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.card-content {
  padding: 40px;
}

.card-date {
  color: #a7893b;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-title {
  font-size: 28px;
  margin: 0 0 16px;
  color: #333;
}

.card-title {
  font-family: lora, sans-serif;
  font-weight: 400;
}

.card-description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(104, 104, 104, 0.65);
  margin-bottom: 24px;
}

.fa-regular {
  padding-right: 12px;
}

.read-more-button {
  display: inline-block;
  background-color: #c09c3d;
  color: white;
  padding: 20px 35px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.read-more-button:hover {
  background-color: #a98306;
}

/* book-car */
.book-car {
  position: relative;
  width: 100%;
  margin-top: -30px;
  background-color: var(--primary-black);
  /* height: 100%; */
  /* height: 100%; */
}

.book-background {
  width: 100%;
}

.background-car {
  position: absolute;
  /* width: 100%; */
}

.book-background img {
  /* position: absolute; */
  width: 100%;
}

.book-car-content {
  position: absolute;
  top: 140px;
}

.book-car-content p {
  max-width: 470px;
  font-size: 20px;
  font-family: "Lora", serif;
  font-weight: 400;
  margin: 20px 0;
  color: var(--primary-white);
}

.book-heading {
  color: var(--primary-white);
  font-family: "Lora", serif;
  font-size: 36px;
}

.book-car-btn {
  display: flex;
}

.book-call {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-call .call {
  display: inline-block;
  border: 3px solid var(--primary-gold);
  border-radius: 15px;
  margin-left: 25px;
  padding: 3px 25px;
  font-size: 25px;
  color: var(--btn-color);
}

.call:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.cmn-btn {
  display: inline-block;
  padding: 20px 60px;
  background-color: var(--primary-gold);
  color: var(--primary-white);
  text-transform: uppercase;
  border-radius: 18px;
}

.cmn-btn:hover {
  color: var(--primary-black);
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.navlinks .active {
  color: var(--primary-gold);
}

/* footer */
footer {
  position: relative;
  width: 100%;
  background-color: var(--secondary-black);
  color: var(--primary-white);
  min-height: 470px;
  padding: 60px 0;
}

.brand-logo a {
  display: inline-block;
  max-width: 150px;
}

.footer-logo-icons p {
  font-size: 18px;
  color: var(--slider-bg);
  margin: 18px 0;
}

.social-media-icons span {
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  margin-bottom: 7px;
}

.social-media-icons i {
  color: var(--primary-white);
  background-color: var(--primary-gold2);
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 50%;
  margin-right: 3px;
}

.social-media-icons i:hover {
  color: var(--primary-gold2);
  background-color: var(--primary-white);
}

.links {
  padding-top: 25px;
  padding-left: 40px;
}

.links span {
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: 600;
}

.lists i {
  color: var(--primary-gold2);
  -webkit-text-stroke: 1.5px;
  font-size: 18px;
  margin-right: 5px;
}

.contactus i {
  color: var(--primary-gold2);
  font-size: 18px;
  margin-right: 5px;
}

.lists a,
.contactus a {
  color: var(--primary-white);
}

.lists a:hover,
.contactus a:hover {
  color: var(--primary-gold2);
}

.lists li,
.contactus li {
  margin-bottom: 15px;
  margin-top: 18px;
}

/* Media Queries */
@media (max-width: 1199px) {
  .banner-content h1 {
    font-size: 56px;
  }

  .banner-content p {
    font-size: 28px;
  }
}

@media (max-width: 1024px) {
  .banner-content h1 {
    font-size: 56px;
    text-align: center;
  }

  .banner-content p {
    font-size: 28px;
  }
}

@media (max-width: 991px) {
  .navbox .navlinks {
    position: fixed;
    /* top: 18%; */
    top: 91px;
    right: 0;
    width: 100%;
    height: 100vh;
    /* height: calc(100vh - 18%); */
    background: url("images/bannerimg.png") no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform 0.8s ease-in-out;
  }

  .navbox .navlinks.active {
    transform: translate(0);
  }

  .hamburger {
    display: flex;
  }

  .navbox .navlinks li {
    margin: 20px 0;
  }

  .navbox .navlinks a {
    font-size: 22px;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: rotate(50deg) translateY(10px);
    background: var(--primary-gold2);
  }


  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-50deg) translateY(-11px);
    background: var(--primary-gold2);
  }


  .log-btn {
    display: none;
  }

  .banner-content {
    text-align: center;
    display: ruby;
  }

  .banner-content h1 {
    font-size: 65px;
    text-align: center;
  }

  .banner-content p {
    font-size: 30px;
  }

  /* footer section */
  .footer-row {
    text-align: center;
  }

  .footer-row .col25 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .links {
    padding-left: 0px;
  }

  .footer-logo-icons p {
    max-width: 400px;
    margin: 8px auto;
  }

  .social-media-icons span {
    display: block;
    margin: 8px 0;
  }
}

@media (max-width: 767px) {
  .banner-content h1 {
    font-size: 38px;
  }

  .banner-content p {
    font-size: 22px;
  }
}

@media (max-width: 575px) {
  .form-container {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .form-submit button {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .banner-content h1 {
    font-size: 28px;
  }
}

@media (max-width: 320px) {
  .banner-content h1 {
    font-size: 35px;
  }

  .banner-content p {
    font-size: 18px;
  }
}

/* book a car */
.book-car-content {
  top: 60px;
}

.book-car-content p {
  max-width: 360px;
}

@media (max-width: 1024px) {

  /* book a car */
  .book-car-content {
    top: 65px;
  }
}

@media (max-width: 768px) {

  /* book car */
  .book-car-content {
    top: 20px;
  }

  .book-heading {
    font-size: 32px;
  }

  .book-car-content p {
    font-size: 18px;
    margin: 15px 0;
  }

  .book-call .call {
    padding: 3px 18px;
    border-radius: 10px;
    font-size: 16px;
  }
}

@media (max-width: 575px) {

  /* book car */
  .book-car-content {
    text-align: center;
    top: 16px;
  }

  .book-car-content p {
    margin: 10px 0;
  }

  .book-car-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 480px) {

  /* book car */
  .book-heading {
    font-size: 25px;
  }

  .book-car-content p {
    font-size: 12px;
    width: 100%;
    /* text-align: center; */
  }

  .book-car-btn .cmn-btn {
    padding: 14px 25px;
  }
}

@media (max-width: 375px) {
  .col25 {
    flex: 1 1 100%;
    max-width: 100%;
  }

  /* book car */
  .book-heading {
    font-size: 20px;
  }

  .book-call .call {
    padding: 3px 16px;
    border-radius: 10px;
    font-size: 14px;
  }

  .book-car-content p {
    margin: 5px 0;
  }

  .book-car-content {
    top: 9px;
  }

  .book-car-btn .cmn-btn {
    padding: 8px 18px;
  }
}

@media (max-width: 320px) {
  .col25 {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

/* Max Width 768px */
@media (max-width: 768px) {
  .auto-service-left h2 {
    font-size: 24px;
  }

  .auto-service-left p {
    font-size: 16px;
  }

  .service-item h4 {
    font-size: 18px;
  }

  .service-item p {
    font-size: 13px;
  }

  .service-item {
    justify-content: center;
  }
}

/* Max Width 578px */
@media (max-width: 578px) {
  .service-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .service-item img {
    margin: 0 0 10px 0;
  }

  .auto-service-left p {
    font-size: 15px;
  }
}

/* Max Width 478px */
@media (max-width: 478px) {
  .auto-service-left h2 {
    font-size: 22px;
  }

  .banner-content h1 {
    font-size: 50px;
  }

  .banner-content p {
    font-size: 20px;
  }

  .auto-service-left p {
    font-size: 14px;
  }

  .auto-service-right img {
    max-width: 100%;
  }
}

/* Max Width 375px */
@media (max-width: 375px) {
  .auto-service-left h2 {
    font-size: 20px;
  }

  .card-date,
  i {
    font-size: 14px;
  }

  .card-title {
    text-align: center;
    font-size: 20px;
  }

  .card-description {
    text-align: center;
    font-size: 12px;
  }

  .read-more-button {
    padding: 15px 25px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .service-item h4 {
    font-size: 16px;
  }

  .service-item p {
    font-size: 12px;
  }
}

/* Max Width 320px */
@media (max-width: 320px) {
  .auto-service-left h2 {
    font-size: 18px;
  }

  .auto-service-left p {
    font-size: 13px;
  }

  .service-item img {
    width: 30px;
    height: 30px;
  }
}