@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-white: #FFFFFF;
  --primary-gold: #CCA848;
  --primary-gold2: #A7893B;
  --btn-color: #C09C3D;
  --primary-black: #0D0D0D;
  --text-color: #6D6D6D;
  --card-bg: #F6F5F1;
  --secondary-black: #161C1D;
  --slider-bg: #F6F5F1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.navcontainer {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbox {
  color: var(--primary-gold);
  cursor: pointer;
  font-size: 25px;
}

#click,
.navbox .menu-btn i {
  display: none;
}

#click:checked~.navbar {
  left: 0;
}

.containerfluid {
  max-width: 1600px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col100 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col80 {
  max-width: 80%;
  flex: 0 0 80%;
  padding: 0 15px;
}

.col60 {
  max-width: 60%;
  flex: 0 0 60%;
  padding: 0 15px;
}

.col50 {
  max-width: 50%;
  flex: 0 0 50%;
  padding: 0 15px;
}

.col45 {
  max-width: 45%;
  flex: 0 0 45%;
  padding: 0 15px;
}

.col40 {
  max-width: 40%;
  flex: 0 0 40%;
  padding: 0 15px;
}

.col35 {
  max-width: 35%;
  flex: 0 0 35%;
  padding: 0 15px;
}

.col33 {
  max-width: 33.33%;
  flex: 0 0 33.33%;
  padding: 0 15px;
}

.col30 {
  max-width: 30%;
  flex: 0 0 30%;
  padding: 0 15px;
}

.col25 {
  max-width: 25%;
  flex: 0 0 25%;
  padding: 0 15px;
}

.col20 {
  max-width: 20%;
  flex: 0 0 20%;
  padding: 0 15px;
}

.navbar {
  display: flex;
}

header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 91px;
  padding: 25px 0;
  background-color: rgba(22, 28, 29, 0.53);
  border: 1px solid var(--text-color);
}

.navbox {
  justify-content: space-between;
  align-items: center;
  transition: 0.5s all;
  margin-top: -14px;
}

.navbar {
  position: relative;
  align-items: center;
}

.navbar li {
  padding: 0 16px;
}

.navbar li a {
  position: relative;
  color: #fff;
  text-transform: uppercase;
}

.navlinks {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
}

.navlinks li a {
  padding-right: 20px;
  color: var(--primary-white);
  align-items: center;
  justify-items: center;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

.navlinks li a:hover {
  color: var(--primary-gold);
}

.navbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinks .active {
  color: var(--primary-gold);
}

.banner-img {
  position: relative;
  width: 100%;
  background: url(photos/create_a_powerful_bg\ 3.png) no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 567px;
  display: flex;
  align-items: center;
}

.banner-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  max-width: 50%;
  flex: 0 0 50%;
  padding: 0 15px;
  width: 1600px;
}

.banner-content {
  position: absolute;
}

.banner-content h1 {
  margin-top: -30px;
  color: var(--primary-white);
  font-size: 57px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

.banner-content p {
  font-size: 40px;
  font-weight: 200;
  margin-top: 7px;
  max-width: 700px;
  color: var(--primary-white);
  font-family: "Lora", serif;
}

.log-btn {
  display: inline-block;
}

.log-btn i {
  font-size: 32px;
  border-radius: 50%;
  color: var(--primary-gold);
}

.log-btn i:hover {
  color: var(--primary-white);
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: azure;
  transition: transform 0.3s ease;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 40px 20px;
  background-color: #fff;
}

.info-item img {
  width: 45px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.info-item h4 {
  margin: 5px 0;
  font-weight: bold;
}



/* contact main */

.contact-main {
  position: relative;
  width: 100%;
  min-height: 890px;
  /* padding: 40px 0; */
  text-align: center;
}

.contact-main h2 {
  font-family: "Lora", serif;
  font-size: 50px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 20px;

}

.contact-main .description {
  font-size: 14px;
  color: #555;
  max-width: 450px;
  margin: 0 auto;
}

.form-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 80px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  background: #fff;
  padding: 30px;
  max-width: 700px;
  width: 100%;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.name-email {
  gap: 10px;
  display: flex;
  width: 100%;
}

.subject {
  margin: 10px 0;
}

.subject,
.message {
  width: 100%;
}

.contact-form .form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contact-form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border-radius: 25px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  font-size: 16px;
  outline: none;
}

.contact-form textarea {
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  height: 120px;
  resize: none;
}

.contact-form button {
  margin-top: 20px;
  width: 100%;
  background-color: #c09c3d;
  border: none;
  padding: 15px;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #a88b3a;
}

.contact-us-map {
  position: relative;
}

.contact-map {
  position: relative;
  top: 210px;
  bottom: 0px;
}

.contact-map img {
  width: 100%;
  height: 560px;
  filter: brightness(50%);
}


/* book-car */
.book-car {
  position: relative;
  width: 100%;
  background-color: var(--primary-black);
  /* height: 100%; */
  /* height: 100%; */
}

.book-background {
  width: 100%;
}

.background-car {
  position: absolute;
  filter: brightness(50%);
  /* width: 100%; */
}

.book-background img {
  /* position: absolute; */
  width: 100%;
}

.book-car-content {
  position: absolute;
  top: 140px;
}

.book-car-content p {
  max-width: 470px;
  font-size: 20px;
  font-family: "Lora", serif;
  font-weight: 400;
  margin: 20px 0;
  color: var(--primary-white);
}

.book-heading {
  color: var(--primary-white);
  font-family: "Lora", serif;
  font-size: 36px;
}

.book-car-btn {
  display: flex;
}

.book-call {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-call .call {
  display: inline-block;
  border: 3px solid var(--primary-gold);
  border-radius: 15px;
  margin-left: 25px;
  padding: 3px 25px;
  font-size: 25px;
  color: var(--btn-color);
}

.call:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.cmn-btn {
  display: inline-block;
  padding: 20px 60px;
  background-color: var(--primary-gold);
  color: var(--primary-white);
  text-transform: capitalize;
  border-radius: 18px;
}

.cmn-btn:hover {
  color: var(--primary-black);
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}




/* footer */
footer {
  position: relative;
  width: 100%;
  background-color: var(--secondary-black);
  color: var(--primary-white);
  min-height: 470px;
  padding: 60px 0;
}

.brand-logo a {
  display: inline-block;
  max-width: 150px;
}

.footer-logo-icons p {
  font-size: 18px;
  color: var(--slider-bg);
  margin: 18px 0;
}

.social-media-icons span {
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  margin-bottom: 7px;
}

.social-media-icons i {
  color: var(--primary-white);
  background-color: var(--primary-gold2);
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 50%;
  margin-right: 3px;
}

.social-media-icons i:hover {
  color: var(--primary-gold2);
  background-color: var(--primary-white);
}

.links {
  padding-top: 25px;
  padding-left: 40px;
}

.links span {
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: 600;
}

.lists i {
  color: var(--primary-gold2);
  -webkit-text-stroke: 1.5px;
  font-size: 18px;
  margin-right: 5px;
}

.contactus i {
  color: var(--primary-gold2);
  font-size: 18px;
  margin-right: 5px;
}

.lists a,
.contactus a {
  color: var(--primary-white);
}

.lists a:hover,
.contactus a:hover {
  color: var(--primary-gold2);
}

.lists li,
.contactus li {
  margin-bottom: 15px;
  margin-top: 18px;
}



/* Media Queries */
@media (max-width: 1199px) {
  .banner-content h1 {
    font-size: 56px;
  }

  .banner-content p {
    font-size: 28px;
  }
}

@media (max-width: 1024px) {
  .form-container {
    padding: 20px;
  }
}

@media (max-width: 991px) {

  /* .log-btn {
    display: none;
  } */

  .banner-content {
    text-align: center;
    display: ruby;
  }

  .name-email {
    flex-direction: column;
  }

  .form-group {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .banner-content h1 {
    font-size: 42px;
  }

  .banner-content p {
    font-size: 13px;
  }
}

@media (max-width: 575px) {
  .form-container {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .form-submit button {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .banner-content h1 {
    font-size: 28px;
  }
}

@media (max-width: 320px) {
  .banner-content h1 {
    font-size: 35px;
  }

  .banner-content p {
    font-size: 18px;
  }
}




@media (max-width:1024px) {

  /* banner */
  .banner {
    min-height: 900px;
  }

  .banner-row .col55,
  .col45 {
    max-width: 100%;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-banner-content {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
  }

  /* about us */
  .about-us-details p {
    max-width: 440px;
  }

  /* logo */
  .logo-container {
    max-width: 925px;
  }

  /* how it work */
  .work-row {
    margin: 0 auto;
  }

  .up-line {
    position: relative;
    left: 8px;
  }

  .down-line {
    left: 4px;
    top: 147px;
  }

  .group-three,
  .group-four {
    left: -12px;
  }

  .down-ellipse {
    top: 245px;
    left: 85px;
  }

  .group-four .work-dot {
    right: -13px;
    top: 118px;
  }

  /* book a car */
  .book-car-content {
    top: 65px;
  }

  /* rentive app */
  .phone-section {
    bottom: -48px;
  }

  /* become a host */
  .host-woman {
    bottom: -40px;
    left: 100px;
  }

  .host-car {
    right: -15px;
  }

  .girl-photo4 {
    display: none;
  }
}


@media (max-width:991px) {

  /* car */
  .car-img img {
    top: -90px;
    /* display: ; */
  }

  /* aboutus & choose-us */
  .about-us-row .col50,
  .choose-us-row .col50 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .about-us-details {
    text-align: center;
  }

  .about-us-details .sub-heading {
    max-width: 600px;
    margin: 10px auto;
  }

  .about-us-details p {
    margin: 0 auto;
    max-width: 550px;
  }

  .about-btn {
    margin-top: 25px;
  }

  .about-us-right {
    margin-top: 30px;
  }


  /* choose us */
  .choose-us-row .col25 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .choose-us-row {
    display: none;
  }

  .col-change-row {
    display: inline-flex;
  }

  .col-change-row .col25 {
    max-width: 50%;
    flex: 0 0 50%;
  }


  /* we-offer */
  .we-offer-row {
    margin: 0 auto;
  }

  .we-offer-row .col25 {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 15px 20px;
  }

  /* how it work */
  .down-line {
    left: 4px;
    top: 139px;
  }

  .down-ellipse {
    top: 236px;
  }

  .work-row .col25 {
    display: none;
  }

  .work-row .howitwork-all {
    display: block;
    margin: 0 auto;
  }


  /* testimonials */
  .testimonials {
    padding: 75px 0 50px;
  }

  /* .testimonials-row {
      /* max-width: 890px; */
  /* margin: 0 auto; */
  /* } */

  .swiper {
    min-height: 420px;
  }

  .testimonials-content-details {
    padding: 15px;
  }

  .content-rating {
    padding: 15px 0 15px;
  }

  /* .testimonials-row .col33{
      max-width: 50%;
      flex: 0 0 50%;
  } */


  /* book a car */
  .book-car-content {
    top: 60px;
  }

  .book-car-content p {
    max-width: 360px;
  }


  /* our blog */
  .our-blog-details .sub-heading {
    max-width: 600px;
    margin: 0 auto;
  }

  .our-blog-row .col50 {
    max-width: 100%;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-container {
    margin: 25px 0;
  }

  /* rentive-app */
  .rentive-app-row .col50,
  .host-row .col40,
  .col60 {
    max-width: 100%;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .phone-section {
    bottom: 0px;
    margin-top: 35px;
  }


  /* host */
  .host-right-section .host-car {
    display: none;
  }

  .host-right-section .host-car-full {
    display: block;
  }

  .host-woman {
    bottom: 0px;
  }

  .girl-photo3,
  .girl-photo2 {
    display: none;
  }


  /* footer section */
  .footer-row {
    text-align: center;
  }

  .footer-row .col25 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .links {
    padding-left: 0px;
  }

  .footer-logo-icons p {
    max-width: 400px;
    margin: 8px auto;
  }

  .social-media-icons span {
    display: block;
    margin: 8px 0;
  }
}


@media (max-width:767px) {
  .navbox .navlinks {
    position: fixed;
    /* top: 18%; */
    top: 91px;
    right: 0;
    width: 100%;
    height: 100vh;
    /* height: calc(100vh - 18%); */
    background: url("images/bannerimg.png") no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform 0.8s ease-in-out;
  }


  .navbox .navlinks.active {
    transform: translate(0);
  }

  .hamburger {
    display: flex;
  }

  .navbox .navlinks li {
    margin: 20px 0;
  }

  .navbox .navlinks a {
    font-size: 22px;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: rotate(50deg) translateY(10px);
    background: var(--primary-gold2);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-50deg) translateY(-11px);
    background: var(--primary-gold2);
  }

  .log-btn {
    display: none;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }


  /* about us */
  .about-us-details p {
    font-size: 12px;
  }

  .about-us-details .sub-heading {
    max-width: 530px;
  }


  /* all sub heading */
  .sub-heading {
    font-size: 28px;
  }

  /* btn */
  .cmn-btn {
    padding: 15px 35px;
    font-size: 13px;
  }

  /* logo */
  .logo-container {
    max-width: 625px;
  }

  /* collection */
  .collection-items {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .collection-btn {
    font-size: 18px;
    padding: 10px 15px;
  }

  /* service section */
  .service-details p {
    font-size: 10px;
  }

  /* testimonials */
  /* .swiper {
      min-height: 450px;
  } */
  .testimonials-row .col33 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  /* book car */
  .book-car-content {
    top: 20px;
  }

  .book-heading {
    font-size: 32px;
  }

  .book-car-content p {
    font-size: 18px;
    margin: 15px 0;
  }

  .book-call .call {
    padding: 3px 14px;
    border-radius: 10px;
    font-size: 10px;
  }

  /* our blog & aboutus*/
  .our-blog-details .sub-heading,
  .about-us-details p {
    max-width: 460px;
  }

  .container-content p,
  .right-row-content p,
  .host-banner p {
    font-size: 18px;
  }


  /* host */
  .host-banner {
    margin: 30px;
  }

  .host-heading {
    font-size: 44px;
  }

  .host-banner h1 {
    font-size: 90px;
  }
}


@media (max-width:600px) {

  /* banner */
  .left-banner-content span {
    font-size: 50px;
  }

  .banner-description {
    font-size: 30px;
  }

  /* car img */
  .car-img img {
    top: -57px;
  }

  /* aboutus */
  .about-us-details .sub-heading {
    max-width: 511px;
  }

  .about-us-details p {
    max-width: 360px;
  }

  .about-us-details {
    margin-top: 130px;
  }

  /* logo */
  .logo-container {
    max-width: 500px;
  }

  /* collection */
  .our-collection {
    min-height: 700px;
  }

  .collection-items-content {
    padding: 12px 15px;
  }

  .heading {
    font-size: 18px;
  }

  .rating {
    margin-bottom: 0;
    font-size: 10px;
  }

  .collection-items-content .details {
    font-size: 12px;
  }

  .dollar {
    margin-top: 5px;
    font-size: 12px;
  }

  .dollar .large {
    font-size: 25px;
  }

  .more-details {
    font-size: 14px;
  }

  /* choose us */
  .left-boxes,
  .right-boxes {
    padding: 25px 15px;
  }

  .offer-service {
    padding: 45px 22px 45px;
  }

  .service-details span {
    margin: 15px 0;
  }

  /* testimonial */
  .testimonials-row .col33 {
    max-width: 70%;
    flex: 0 0 70%;
  }

  /* book car */
  .book-car-content {
    text-align: center;
    top: 16px;
  }

  .book-car-content p {
    margin: 10px 0;
  }

  .book-car-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* host car */
  .host-woman {
    left: 23px;
    width: 232px;
  }
}

@media (max-width:530px) {

  /* banner */
  .left-banner-content span {
    font-size: 40px;
  }

  .banner-description {
    font-size: 25px;
  }

  .title {
    margin: 0 auto;
    font-size: 18px;
  }

  .right-banner-content {
    width: 100%;
  }

  .calender-details {
    flex-direction: column;
  }

  input[type="date"] {
    width: 80vw;
  }

  .contact-main {
    /* max-width: 470px; */
    align-items: center;
  }

  /* car */
  .car-img img {
    left: 5px;
  }

  .about-us-details .sub-heading,
  .our-blog-details .sub-heading {
    font-size: 20px;
    max-width: 330px;
  }

  .about-us-details p {
    font-size: 10px;
    max-width: 220px;
  }

  .about-us-right {
    display: block;
    text-align: center;
  }

  /* logo */
  .Large,
  .medium,
  .small {
    height: 70px;
  }

  /* all sub heading */
  .sub-heading {
    font-size: 20px;
  }

  /* collection */
  .collection-items {
    max-width: 100%;
    flex: 0 0 100%;
  }

  /* choose us */
  .left-boxes p,
  .right-boxes p {
    font-size: 12px;
  }

  /* we offer */
  .service-details span {
    font-size: 15px;
    font-weight: 600;
  }

  /* testimonials */
  .testimonials-row .col33 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  /* book car */
  .book-heading {
    font-size: 25px;
  }

  .book-car-content p {
    font-size: 12px;
    width: 100%;
    /* text-align: center; */
  }

  .book-car-btn .cmn-btn {
    padding: 14px 25px;
  }

  /* rentiv app */
  .app-container h1 {
    font-size: 28px;
  }
}

@media (max-width:375px) {

  .contact-main {
    /* max-width: 350px; */
    align-items: center;
  }


  .logo-container {
    max-width: 330px;
  }

  /* we offer */
  .we-offer-row .col25 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  /* book car */
  .book-heading {
    font-size: 20px;
  }

  .book-car-content p {
    margin: 5px 0;
  }

  .book-car-content {
    top: 9px;
  }

  .book-car-btn .cmn-btn {
    padding: 8px 15px;
  }

  /* our blog */
  .container-content p {
    font-size: 14px;
  }

  /* rentive app */
  .qr img,
  .all-store {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .all-store {
    margin-left: 0;
  }

  .qr img {
    margin-bottom: 10px;
  }

  .qr {
    display: block;
    text-align: center;
  }

  /* host */
  .host-banner p {
    font-size: 12px;
  }

  .host-woman {
    width: 200px;
  }

  .contact-main .description {
    max-width: 268px;
  }

  .book-car-content {
    top: 9px;
  }

  .book-car-btn .cmn-btn {
    padding: 11px 22px
  }
}

@media (max-width: 320px) {
  .book-car-btn .cmn-btn {
    padding: 5px 12px;
    font-size: 12px;
  }

  .book-car-content {
    top: 4px;
  }
}